*{
    margin: 0;
    font-family: cursive;
}

header{
    color: #fff;
    height: 20vh;
}
header *{
    display: inline-block;
    box-sizing: border-box;
}

header h1{
    width: 40vw;
    text-align: center;
}

header a{
    margin-top: 5vh;
    margin-left: 5vw;
    background-color: #00f;
    color: #fff;
    text-decoration: none;
    text-align: end;
    padding: 0.8vw;
}

.actual{
    background-color: #0f0;
}

.navegacion a{
    position: relative;
    top: 15px;
}

.background{
    height: 10vh;
    display: block;
    background-color: #fff;
    background-image: url(../task2/design1_image2.jpg);
}

body{
    background-color: #000;
    color: #fff;
}

.subtitulo{
    text-align: center;
}

img{
    width: 20vw;
    display: inline-block;
}

.eventos{
    width: 50vw;
    display: inline-block;
}

.eventos article{
    padding: 1vh 1vw;
    position: relative;
    bottom: 8vh;
}

.info{
    display: inline-block;
    position: relative;
    bottom: 10vw;
}

.info p{
    padding: 5px;
}

.contenedor_about{
    display: inline-block;
    box-sizing: border-box;
    margin-top: 60px;
    height: 40vh;
}

.contenedor_about article{
    padding: 5px;
    position: relative;
    bottom: 8vh;
}

.info_about{
    display: inline-block;
}



.titulo{
    text-align: center;
}

.negrita{
    font-size: 2.3vh;
}

#negrita_p{
    font-size: 2.3vh;
}

.subtitulo_izq{
    font-size: 2.4vh;
}

.rules_main p{
    font-size: 1.35vh;
}

.Field_regulations li{
    padding: 10px;
}

.Field_regulations ol li{
    list-style-type: lower-latin;
}

.p_rules{
    padding: 10px;
}

.list_circle_clean{
    list-style-type: circle;
}

.rules_content{
    padding-left: 10px;
}



.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla_caption{
    text-decoration: underline;
}

.tabla table{
    width: 50vw;
}

.tabla table th, .tabla table tr, .tabla table td{
    padding: 10px;
    border: 1px solid #fff;
}

.contacto_num_y_email{
    display: flex;
    justify-content: space-around;
}

.uppercase{
    font-size: 1.2vw;
}