*{
    margin: 0;
    font-family: cursive;
}

header{
    color: #fff;
    height: 20vh;
}
header *{
    display: inline-block;
    box-sizing: border-box;
}

header h1{
    width: 60vw;
    text-align: center;
}

header a{
    margin-top: 5vh;
    margin-left: 5vw;
    background-color: #00f;
    color: #fff;
    text-decoration: none;
    text-align: end;
    padding: 0.8vw;
}

.actual{
    background-color: #0f0;
}

.navegacion a{
    position: relative;
    top: 15px;
}

.background{
    height: 10vh;
    display: block;
    background-color: #fff;
    background-image: url(../task2/design1_image2.jpg);
}

body{
    background-color: #000;
    color: #fff;
}

.subtitulo{
    text-align: center;
}

img{
    width: 20vw;
    display: inline-block;
}

.eventos{
    width: 50vw;
    display: inline-block;
}

.eventos article{
    padding: 1vh 1vw;
    position: relative;
    bottom: 8vh;
}

.info{
    display: inline-block;
    position: relative;
    bottom: 10vw;
}

.info p{
    padding: 5px;
}

.contenedor_about{
    display: inline-block;
    height: 40vh;
}

.contenedor_about article{
    padding: 5px;
    position: relative;
    bottom: 8vh;
}

.info_about{
    display: inline-block;
}

